# PUERTO DEL API
PORT=3000

# URL BASE DEL SERVIDOR (para cuando lo hosteas: https://tudominio.com)
# En local: http://localhost:3000
SERVER_URL=http://localhost:3000

# TOKEN DEL BOT DE DISCORD
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# ID DE TU SERVIDOR DE DISCORD (para registrar slash commands solo alli)
GUILD_ID=1497050594148483214

# TU ID DE USUARIO EN DISCORD (sera el admin global)
ADMIN_ID=1424539558430769244

# CONTRASEÑA MAESTRA ADMIN (tambien puedes meter admins por rol)
# No necesaria si usas ADMIN_ID
# ADMIN_PASSWORD=
